<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Skynet Crypto Markets</title>
    <module href="/components/head.html"></module>
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="font-awesome.min.css">
  </head>

  <body style="height: 100vh;">
    <div style="width: fit-content; margin: auto;">
      <h1 style="height: 50px; text-align: center;">Skynet Crypto Price Tracker</h1>
      <div class="menuBar">
        <div class="dropdown menuItem">
          <button class="btn btn-success dropdown-toggle" type="button" id="currencyDropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            USD
          </button>
          <div class="dropdown-menu" aria-labelledby="currencyDropdownMenuButton">
            <h6 class="dropdown-header">Fiat</h6>
            <a class="dropdown-item" href="#">USD</a>
            <a class="dropdown-item" href="#">EUR</a>
            <h6 class="dropdown-header">Crypto</h6>
            <a class="dropdown-item" href="#">BTC</a>
            <a class="dropdown-item" href="#">ETH</a>
          </div>
        </div>
        <div class="menuItem">
          <i class="fa fa-refresh" style="font-size: 35px;" id="refresh"></i>
        </div>
      </div>
      <div class="center">
        <div id="cryptoTable2"></div>
        <div id="loadingIndicator" class="spinner-grow" role="status" style="margin-top: 80px;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <script src="jquery.min.js"></script>
    <script src="jquery.sparkline.min.js"></script>
    <script src="bundle.js" defer async></script>
  </body>
</html>
